* {
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  line-height: 1.4rem;
}

.posts-container {
  margin: auto;
  width: 30%;
}

.post-container {
  width: 100%;
  margin-bottom: 2rem;
}

.post-thumbnail-container {
  padding: 1.5rem;
}

.subreddit {
  padding-top: 1rem;
}

.thumbnail {
  max-width: 20rem;
  padding-top: 2rem;
}

.post-info-container {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 1rem;
}

.comment {
  width: 1.5rem;
}

.upvote {
  width: 1.5rem;
}

.author {
  align-self: flex-end;
}
