.posts-container {
  margin: auto;
  width: 30%;
  padding-top: 8rem;
}

.post-container {
  width: 100%;
  margin-bottom: 2rem;
  background-color: white;
  box-shadow: 4px 4px 8px #9c9c9c;
  border: 1px solid rgb(216, 216, 216);
  padding: 0.5rem;
}

.post-thumbnail-container {
  padding: 1.5rem;
}

.post-title {
  color: #252525;
  text-align: left;
}

.subreddit {
  padding-top: 1rem;
  color: rgb(75, 74, 74);
  text-align: left;
}

.thumbnail {
  width: 80%;
  padding-top: 2rem;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 2px solid #e4e4e4;
}

.post-info-container > * {
  color:rgb(75, 74, 74);
  flex-basis: 100%;
}

.comment {
  width: 1.6rem;
}

.like {
  width: 1.6rem;
}

.author {
  align-self: center;
  padding-right: 2rem;
}