* {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.4rem;
}

.posts-container {
  margin: auto;
  width: 30%;
}

.post-container {
  width: 100%;
  margin-bottom: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 4px 8px #9c9c9c;
  border: 1px solid rgb(216, 216, 216);
}

.post-thumbnail-container {
  padding: 1.5rem;
}

.post-title {
  color: #252525;
  text-align: left;
}

.subreddit {
  padding-top: 1rem;
  color: rgb(75, 74, 74)
}

.thumbnail {
  max-width: 20rem;
  padding-top: 2rem;
}

.post-info-container {
  display: flex;
  padding: 1rem;
  border-top: 2px solid #e4e4e4;
  top: 50%;
}

.post-info-container > * {
  flex-basis: 100%;
  color:rgb(75, 74, 74)
}

.comment {
  width: 1.8rem;
}

.like {
  width: 1.8rem;
}

.author {
  align-self: center;
}
